<%- include('partials/header') %>


    <div class="jumbotron centered">
        <div class="container">
            <h3 class="display-3">Sorry!</h3>
            <p class="lead"> Vaccination Center "<%= center %>" is Completely Booked on <%= date %></p>
            <hr>
            <a class="btn btn-dark btn-lg" href="/userHome" role="button">Back To Home</a>

        </div>
    </div>


    <%- include('partials/footer') %>